div {
    margin: 0 auto;
    border: 2px solid violet;
    width: 35%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 20px;
}

button, input {
    width: 200px;
}